<div class="d-flex w-100 align-items-center px-4 py-2">
  <!--     Info Usuario -->
  <div class="d-flex align-items-center gap-3 w-100">
    <!--     Imagen Usuario -->
    <a href="/usuarios/<%= user.username %>">
      <% if (smallUser.image.includes("http")) { %>
      <img
        style="width: 2.5rem"
        class="figure-img img-fluid rounded-pill align-self-center"
        alt="image"
        src="<%= smallUser.image %>"
      />
      <!--   coment -->
      <% } else {%>
      <img
        style="width: 2.5rem"
        class="figure-img img-fluid rounded-pill align-self-center"
        alt="image"
        src="/img/<%= smallUser.image %>"
      />
      <%}%>
    </a>
    <!--     Desc. Usuario -->
    <div>
      <a
        class="text-decoration-none text-black"
        href="/usuarios/<%= smallUser.username %>"
      >
        <h6 class="mb-0 p-0">
          <%= smallUser.firstname %> <%= smallUser.lasttname %>
        </h6>
      </a>
      <p class="p-0 m-0" style="font-size: 0.8rem; color: #969696">
        @<%= smallUser.username %>
      </p>
    </div>
  </div>
  <!-- prettier-ignore -->
  <% const userFollowing = globalUser.following.some((u) => u.id === smallUser.id) %>
  <!--     Boton Follow -->
  <% if (smallUser.id !== globalUser.id) { %>
  <!--   coment -->
  <% if (!userFollowing) { %>
  <div class="justify-content-end">
    <form
      action="/usuarios/<%=smallUser._id%>/follow?_method=put"
      method="post"
    >
      <button
        type="submit"
        class="btn rounded-pill"
        style="background-color: #1d9bf0; color: white"
      >
        Follow
      </button>
    </form>
  </div>
  <% } else { %>
  <div class="justify-content-end">
    <form
      action="/usuarios/<%=smallUser._id%>/unfollow?_method=put"
      method="post"
    >
      <button
        type="submit"
        class="btn rounded-pill border"
        style="background-color: #ffffff; color: rgb(0, 0, 0)"
      >
        Unfollow
      </button>
    </form>
  </div>
  <% } %>

  <!--   coment -->
  <% } %>
</div>
